<!DOCTYPE html>
<html>
  <head>
    <title><%= id %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    body{
      font-family: "微軟正黑體";
    }
    </style>
  </head>
  <body>
    <h1><%= id %><%= name %></h1>
    <p>Welcome to <u>Tamkung University</u> </p>
  </body>
</html>
